.btn-block {
    width: 100%;
    border-radius: 0;
}

.auth .auth-form-light {
    background: #ffffff;
}

.auth .brand-logo {
    margin-bottom: 2rem;
}

.auth .brand-logo img {
    width: 150px;
}

.auth form .form-group {
    margin-bottom: 1.5rem;
}

.auth form .form-group label {
    font-size: 0.8125rem;
}

.auth form .form-group .form-control,
.auth form .form-group .dataTables_wrapper select,
.dataTables_wrapper .auth form .form-group select {
    background: transparent;
    border-radius: 0;
}